<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<th:block th:include="~{fragments/head}"/>
<body>
<main>
    <th:block th:include="~{fragments/user-navbar}"/>

    <div class="container">
        <div class="text-center mb-3">
            <h4 class="text-white mt-2">Welcome to the arena,  <span sec:authentication="name"></span></h4>
        </div>

        <form class="mx-auto w-15" th:action="@{/events}" th:method="post">
        <th:outputText value="row mb-4 d-flex justify-content-around"
                      escape="false" rendered="#{status.index % 4 == 0}"/>

            <script type="text/javascript">
                $(document).ready(
                    function () {
                        $.getJSON("/ajax/events",null,  function (response) {
                            var div = $("#events");
                            var html = '<table>';

                            response.forEach(function(event, index){
                              html  += '' +
                                    ' <th>\n' +
                                    '\n' +
                                    '                <tr class="row mx-auto">' +
                                    '                    <th class="col-md-1 text-center"">' + (index+1) + '</th>'+
                                    '                    <td>';

                                var eventTypeImage = "";
                                if (event.type == "Concert") {
                                    eventTypeImage = "/img/concert.png";
                                } else {
                                    eventTypeImage = "/img/football.png";
                                }
                                html +=  '<div class="text-center"><img src="' + eventTypeImage + '" width="40" height="40" alt="quotes"> </div>';


                                html +=  '</td>' +
                                    '                    <td class="col-md-3 text-center">' + event.name + '</td>' +
                                   ' <td class="col-md-3 text-center">' + event.name + '</td>' +
                                   ' <td class="col-md-3 text-center">' + event.date + '</td>' +
                                   ' <td class="col-md-3 text-center">' + event.time + '</td>' +
                                    '<td class="col-md-3 text-center">' + event.price + '</td>' +
                                    '<td class="col-md-3 text-center">' + event.price + '</td>' +
                                    '<td class="col-md-3 text-center"><a class="btn btn-info mb-2" width="300" href="/cart/buy-ticket/'+event.id+'">Add to cart</a></td>' +
                                    '</tr>';
                            })
                            html += '</table>';
                            div.append(html);
                            console.log(response);
                        })
                    }
                )
            </script>

<!--        <div id="events">-->
<!--&lt;!&ndash;-->



<!--&lt;!&ndash;            </th:block>&ndash;&gt;-->
<!--        </div>-->

        <th:outputText value="&lt;/div&gt;" escape="false" rendered="#{status.index % 4 == 1}"/>

        <div class="button-holder d-flex justify-content-center">
            <a href="/events/create-event">
                <h2 style="color: #fff">Create Event</h2>
            </a>
        </div>
        </form>

    </div>



</main>

<footer>
    <th:block th:include="~{fragments/footer}"/>
</footer>
</body>
</html>