<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:include="~{fragments/head}"/>
<body>
<main>
    <th:block th:include="~{fragments/user-navbar}"/>

    <div class="container">
        <div class="text-center mb-3">
            <h4 class="text-white mt-2">Welcome to the arena,  <span sec:authentication="name"></span></h4>
        </div>

        <form class="mx-auto w-15" th:action="@{/events}" th:method="post">
        <th:outputText value="row mb-4 d-flex justify-content-around"
                      escape="false" rendered="#{status.index % 4 == 0}"/>

            <script type="text/javascript">
                function escapeHTML(string) {
                    var div = document.createElement("div")
                    div.innerHTML = string
                    return div.innerText;
                }
                $(document).ready(
                    function () {
                        $.getJSON("/events/ajax/events",null,  function (response) {
                            var div = $("#events");
                            var html = '<table width="100%" id="events-table" cellspacing="10"><tr><th></th><th></th><th>Name</th><th>Location</th><th>Date</th><th>Time</th><th>Price</th></tr>';

                            response.forEach(function(event, index){
                              html  += '' +
                                    '                <tr>' +
                                    '                    <td>' + (index+1) + '</td>'+
                                    '                    <td>';

                                var eventTypeImage = "";
                                if (event.type == "Concert") {
                                    eventTypeImage = "/img/concert.png";
                                } else {
                                    eventTypeImage = "/img/football.png";
                                }
                                html +=  '<img src="' + eventTypeImage + '" width="40" height="40" alt="quotes">';


                                html +=  '</td>' +
                                    '                    <td>' + escapeHTML(event.name) + '</td>' +
                                   ' <td>' + escapeHTML(event.location) + '</td>' +
                                   ' <td>' + escapeHTML(event.date) + '</td>' +
                                   ' <td>' + escapeHTML(event.time) + '</td>' +
                                    '<td>' + escapeHTML(event.price) + '</td>' +
                                    '<td><a class="btn btn-info mb-2" width="300" href="/cart/buy-ticket/'+event.id+'">Add to cart</a></td>' +
                                    '</tr>';
                            })
                            html += '</table>';
                            div.html(html);
                            console.log(response);
                        })
                    }
                )
            </script>

        <div id="events"></div>

        <th:outputText value="&lt;/div&gt;" escape="false" rendered="#{status.index % 4 == 1}"/>

        </form>

    </div>



</main>

<footer>
    <th:block th:include="~{fragments/footer}"/>
</footer>
</body>
</html>