<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<th:block th:include="~{fragments/head}"/>
<body>
<main>
    <th:block th:include="~{fragments/user-navbar}"/>

    <div class="container">
        <div class="text-center mb-3">
            <h4 class="text-white mt-2">Welcome to the arena, <span sec:authentication="name"/></h4>
        </div>


<!--        private String title;
    private EventType news;
    private String text;-->
        <form class="mx-auto w-15" action="/news/create-news" method="post">

        <div class="row justify-content-md-center">
            <div class="col col-6">
                <div class="form-group">
                    <div class="label-holder text-white d-flex justify-content-center">
                        <label for="title" class="h3 mb-2">Title</label>
                    </div>
                    <input type="text" class="form-control" id="title" name="title"/>
                </div>
            </div>
        </div>

        <div class="row justify-content-md-center">
            <div class="col col-6">
                <div class="form-group">
                    <div class="label-holder text-white d-flex justify-content-center">
                        <label for="topic" class="h3 mb-2">Topic Type</label>
                    </div>
                    <select id="topic" class="col col-12" name="topic">
                        <ul>
                            <option>Sport</option>
                            <option>Music</option>
                        </ul>
                    </select>

                </div>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col col-6">
                <div class="form-group">
                    <div class="label-holder text-white d-flex justify-content-center">
                        <label for="text" class="h3 mb-2">Text</label>
                    </div>
                    <textarea type="text" class="form-control"  id="text" name="text"></textarea>
                </div>
            </div>
        </div>

        <div class="button-holder d-flex justify-content-center">
            <button class="btn btn-info text-white mb-3" type="submit">Submit Topic</button>
        </div>

        </form>

    </div>


    <th:block th:include="~{fragments/footer}"/>
</main>
</body>
</html>