<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head}"/>
<body>
<main>
    <th:block th:include="~{fragments/user-navbar}"/>

    <div class="container">
        <div class="text-center mb-3">
            <h4 class="text-white mt-2">Welcome to the arena, <p th:text="${session.user.getUsername()}"></p></h4>
        </div>

        <form class="mx-auto w-15" th:action="@{news.html}" th:method="post">
        <th:outputText value="&lt;div class=&quot;row mb-4 d-flex justify-content-around&quot;&gt;"
                      escape="false" rendered="#{status.index % 4 == 0}"/>

            <h2 class="text-center">Latest news from the world of music</h2>


            <th:block th:each="news, iter : ${musicNews}">
                <tr>
                    <td class="col-md-1 text-center" style="background-color: #5a6268" th:utext="${news.title}"></td>
                </tr>

            </th:block>

        <th:outputText value="&lt;/div&gt;" escape="false" rendered="#{status.index % 4 == 1}"/>

        </form>

    </div>


    <th:block th:include="~{fragments/footer}"/>
</main>
</body>
</html>