<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head}"/>
<body>
<main>
    <th:block th:include="~{fragments/user-navbar}"/>

    <div class="container">
        <div class="text-center mb-3">
            <h4 class="text-white mt-2">Welcome to the arena, <p th:text="${session.user.getUsername()}"></p></h4>
        </div>

        <form class="mx-auto w-15" th:action="@{news.html}" th:method="post">
        <th:outputText value="&lt;div class=&quot;row mb-4 d-flex justify-content-around&quot;&gt;"
                      escape="false" rendered="#{status.index % 4 == 0}"/>
            <h2 class="text-center">Latest news from the World of Sports</h2>

            <table class="text-center">
                <th:block th:each="news, iter : ${sportNews}">
                    <tr>
                        <td class="col-md-1 text-center"  style="background-color: #5a6268">
                            <a  th:utext="${news.date}"  th:width="300"></a>
                            <a  th:utext="${news.title}" th:width="300" th:href="@{/news/news/{id}(id=${news.id})}"></a>

                        </td>
                    </tr>

                </th:block>
            </table>


            <th:outputText value="&lt;/div&gt;" escape="false" rendered="#{status.index % 4 == 1}"/>

        </form>

    </div>


    <th:block th:include="~{fragments/footer}"/>
</main>
</body>
</html>