<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head}"/>
<body>
<main>
    <th:block th:include="~{fragments/user-navbar}"/>

    <div class="container">
        <div class="text-center mb-3">
            <h4 class="text-white mt-2">Welcome to the arena, <p th:text="${session.user.getUsername()}"></p></h4>
        </div>

        <form class="mx-auto w-15" th:action="@{/sport-videos.html}" th:method="post">
        <th:outputText value="&lt;div class=&quot;row mb-4 d-flex justify-content-around&quot;&gt;"
                      escape="false" rendered="#{status.index % 4 == 0}"/>

        <table class="text-center">
            <th:block th:each="videos, iter : ${videos}">
                <tr>
                    <td class="col-md-1 text-center" style="background-color: #5a6268" th:utext="${videos.title}"></td>
                </tr>
                <tr class="row mx-auto">
                    <th class="col-md-1 text-center" th:utext="${iter.index + 1}"></th>
                    <td class="col-md-3">

                        <div class="text-center">
                            <iframe th:src="@{https://www.youtube.com/embed/{url}(url=${videos.url})}"
                                    frameborder="1" alt="no video attached" allowfullscreen="0"></iframe>
                        </div>
                    </td>
                </tr>
            </th:block>
        </table>

        <th:outputText value="&lt;/div&gt;" escape="false" rendered="#{status.index % 4 == 1}"/>

        </form>

    </div>


    <th:block th:include="~{fragments/footer}"/>
</main>
</body>
</html>