<!--<th:block th:fragment>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta title="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>ManZonE</title>-->
<!--    <url rel="stylesheet" th:href="@{/css/reset-css.css}">-->
<!--    <url rel="stylesheet" th:href="@{/css/bootstrap.min.css}">-->
<!--    <url rel="stylesheet" th:href="@{/css/style.css}">-->
<!--&lt;!&ndash;    <script src="/js/jquery-3.3.1.min.js"></script>&ndash;&gt;-->
<!--&lt;!&ndash;    <script src="/js/bootstrap.min.js"></script>&ndash;&gt;-->
<!--&lt;!&ndash;    <script src="https://use.fontawesome.com/5f0cb47ea3.js"></script>&ndash;&gt;-->
<!--</th:block>-->

<th:block th:fragment>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>ManZone</title>
        <link rel="stylesheet" href="/css/reset-css.css">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/style.css">
    </head>
</th:block>